<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (user) {%>
    <h1>WELCOME BACK <%= user.full_name %></h1>
    <a href="/log-out">Log Out</a>
    <a href="/new-message">New Message</a>
    <% } else { %>
    <h1>Please log in:</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>
    <div>
      <% recentMessages.forEach(message => { %>
      <div>
        <h3><%= message.title %></h3>
        <% if (user) {%>
        <h5><%= message.user[0].full_name %></h5>
        <% } %>
        <p><%= message.content %></p>
        <p><%= message.timestamp %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
